@import '../../variables.scss';

.listItem {
  display: flex;
  text-align: center;
  padding: 10px 0;

  &:nth-child(1) {
    border-bottom: 2px solid $primary-color;
  }

  .login,
  .scores,
  .level {
    width: calc(100% / 3);
  }

  .scores {
    color: $primary-color;
  }
}
