@import '../../variables.scss';

.list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;

  .listTitle {
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
    border-bottom: 4px solid $primary-color;

    .listTitleItem {
      width: calc(100% / 3);
      // &:first-child {

      //   margin-right: 40px;
      // }

      // &:nth-child(2) {
      //   width: 150px;
      //   margin-right: auto;
      // }

      // &:nth-child(3) {
      //   width: 310px;
      // }
    }
  }
}
